.sidebar{
    background-color: #1A2129;
    ;
}

.nav{
    border-bottom: solid 1px #EEEEEE;
}

.notify{
    color: #4b5563;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* z-index: 10; */
    /* margin-right: 10px; */
  }
  
.loginTRM{
    color:  #585858;

}

.wp{
    color: #AFB0B1
}

/* src/components/InputField.css */

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    border:none;
  }
  
  .input-label {
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 5px;
  }
  
  .input-wrapper {
    position: relative;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    border: none;
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  
  .input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #666;
  }
  
  .input-field::placeholder {
    color: #bbb;
  }
  
  .input-icon {
    margin-left: 8px;
    color: #bbb;
    font-size: 1.2rem;
  }
  
  .sideA{
    background-color: #FFFBF6;
  }

  .reset{
    color: #7F8B94
  }

  .sideB{
        background-image: url('../src/assets/Images/Mask\ Group.png'); /* Adjust the path to your image */
        background-size: cover;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent tiling */
        /* height: 100vh; /* Full viewport height */
        /* display: flex; Use flexbox for layout */ 
        /* justify-content: center; Center horizontally */
        /* align-items: center; Center vertically */
  }
  .loginb{
    color:#585858
  }

  .custom-button {
    background-color: #ff7400; /* Orange background color */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Add padding */
    font-size: 18px; /* Font size */
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .custom-button:hover {
    background-color: #ff8c00; /* Slightly darker orange on hover */
  }